<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			Portfolio en 3D - Thibault Delgrande
		</title>
		{{ vite_entry_link_tags('three') }}
		{{ vite_entry_script_tags('three') }}
	</head>
	<body>
		<div id="blocker">
			<div id="instructions">
				<p style="font-size:36px">
					Cliquer pour jouer
				</p>
				<p>
					Mouvement: WASD/ZQSD ou les flèches du clavier<br/>
					Sauter: BARRE ESPACE<br/>
					Regarder: SOURIS
				</p>
			</div>
		</div>
		<div id="projet">
			<div id="projetInfos">
				<div class="spinner-border" role="status"></div>
			</div>
		</div>
	</body>
</html>
