{% extends 'base.html.twig' %}

{% block title %}Porfolio Thibault Delgrande{% endblock %}

{% block main %}
<h1 class="m-5 pt-5">Portfolio Thibault Delgrande</h1>
<div id="plateformes" class="m-5 d-flex justify-content-center align-self-center">
    {% for platform in platforms %}
        <a class="plateforme" href="{{platform.link}}">
            <img src="{{vich_uploader_asset(platform)}}" alt="{{platform}}">
        </a>
    {% endfor %}
</div>
{% endblock %}
