/* public/css/styles.css */

#plateformes{
    flex-wrap: wrap;
    margin: 0 auto;
}

#jeux{
    margin: 0 auto;
    overflow-x: scroll;
}

.plateforme{
    width: 100px;
    margin: 16px;
}

.projet{
    height: 300px;
    margin: 16px;
}

.plateforme>img,
.projet>img{
    width: 300px;
    height: 300px;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
    z-index: 10;
}

.plateforme>img:hover,
.projet>img:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*Appliquer un léger filtre coloré*/
    filter: saturate(1.5);
}
