{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} privacy policy{% endblock %}

{% block main %}
<h1>Privacy Policy</h1>
<ul>
    <h2>1. Developer Information:</h2>
    This privacy policy pertains to the application '{{ app_name }}' developed by Thibault Delgrande.

    <h2>2. Data Collection:</h2>
    Our application does not collect any personal data, except through the use of Google AdMob. For more information on data collection by Google AdMob, please refer to the Google AdMob privacy policy.

    <h2>3. Purpose of Collection:</h2>
    Any data collected by Google AdMob is used for the purpose of managing the delivery of relevant advertisements to users.

    <h2>4. Collection Methods:</h2>
    Data collected by Google AdMob is gathered in accordance with Google AdMob's practices.

    <h2>5. Data Sharing:</h2>
    Data collected by Google AdMob may be shared in accordance with Google AdMob's privacy policy.

    <h2>6. Data Security:</h2>
    We do not collect personal data directly, and data collected by Google AdMob is subject to the security and data protection practices of Google AdMob.

    <h2>7. Data Retention:</h2>
    We do not retain personal data directly. The retention of data collected by Google AdMob is managed in accordance with Google AdMob's privacy policy.

    <h2>8. User Privacy Rights:</h2>
    Users can exercise their privacy rights regarding data collected by Google AdMob by referring to the Google AdMob privacy policy.
</ul>
{% endblock %}
