
{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block main %}
    <h1 class="mt-5">Erreur 404</h1>
    <p>La page que vous cherche n'a pas été trouvée. <a href="/">Retourner sur la page d'accueil.</a></p>
{% endblock %}
