
{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block main %}
    <h1 class="mt-5">Erreur 403</h1>
    <p>Vous n'avez pas accès à cette page. <a href="/">Retourner sur la page d'accueil</a> </p>
{% endblock %}